.container_auth_form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* LOGIN */
.login {
    display: flex;
    flex-direction: column;
}

.login_logo_form {
    background-color: var(--color-light-pink);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    border-bottom-left-radius: 100% 350px;
    border-bottom-right-radius: 100% 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.login_logo_form img {
    width: 30%;
    height: auto;
}

.login_action {
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    position: relative
}

.login_action img {
    width: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORM */
.input-label {
    color: var( --color-text70);
    border-bottom: 2px solid darkgray;
    padding: 1rem 0 0.5rem 0;
   
}

.text_input {
    font-size: 18px;
    width: 80%;
}

.button_form {
    color: var( --color-dark-red);
    text-align: center;
}

.button_form a {
   display: flex;
   padding-top: 2rem;
}

.button_reset_form {
    display: flex;
}

.button_reset {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.forgot_password_text {
    padding: 1rem;
    text-align: justify;
}
.auth_session_status, .auth_error_msg {
    text-align: center;
    padding: 1rem;
    color: var(--color-dark-red);
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .container_auth_form {
      width: 70%;
    }

    .login_logo_form h1{
        font-size: 30px;  
        font-weight: 1200;
    }

    .login_logo_form h2{
        font-size: 20px;
    }

    .login_logo_form {
        border-bottom-left-radius: 100% 150px;
        border-bottom-right-radius: 100% 150px;
    }

    .button_form a {
        padding-bottom: 1rem;
    }

    .button_reset {
        padding: 1rem;
    }
  }