/* LAYOUT */
.login {
    display: flex;
    flex-direction: column;
}

.login_logo_form {
    background-color: var(--color-light-pink);
    padding: 2rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    border-bottom-left-radius: 100% 350px;
    border-bottom-right-radius: 100% 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.login_logo_form img {
    width: 30%;
    height: auto;
}

.login_action {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    position: relative
}

.logo {
    width: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_mailto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.mail-icon {
    width: 1.3rem;
    display: inline;
    margin-right: 0.3rem;
    position: relative;
    top: 3px;
}

/* FORM AUTH */
.container_auth_form {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding-bottom: 2rem;
}

.button_form {
    color: var( --color-dark-red);
    text-align: center;
}

.button_reset_form {
    display: flex;
}

.button_reset {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.auth_session_status {
    text-align: center;
    padding: 1rem;
    color: var(--color-dark-red);
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .container_auth_form {
      width: 80%;
    }

    .login_logo_form h1{
        font-size: 30px;  
        font-weight: 1200;
    }

    .login_logo_form h2{
        font-size: 20px;
    }

    .login_logo_form {
        border-bottom-left-radius: 100% 150px;
        border-bottom-right-radius: 100% 150px;
    }

    .button_reset {
        padding: 1rem;
    }
  }