.bouteilleCellier__card-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bouteilleCellier__card {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 150px;
}

.bouteilleCellier__card div:nth-child(2) {
    flex: 1;
}

.bouteille {
    flex-basis: 80px;
}

.bouteilleCellier__card>img {
    max-height: 100%;

    display: inline;
    text-align: center;
    object-fit: contain;
}

.bouteilleCellier__card-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bouteilleCellier__card-quantity {
    display: flex;
    gap: 1rem;
    background-color: var(--color-light-pink);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.bouteilleCellier__card-details div:nth-child(1),
.bouteilleCellier__card-quantity span:nth-child(2) {
    font-weight: 600;
}