/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.text_error {
    color: var(--color-light-red);
}